@charset "UTF-8";

/*Estilos para impressoras*/
*{
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;

}
menu{
    display: none;
}
article{
    width: 100%;
}
article::after{
    content: '*Esse artigo foi impresso atráves do site curso em vídeo para aprendizado*';
    color: red;
}